# App
NODE_ENV=development
APP_PORT=5094

# MySQL
HOST=127.0.0.1
PORT=3306
USERNAME=root
PASSWORD=
DATABASE=

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Mortgage cache
CACHE_PREFIX=mrtg67:-
CACHE_TTL_DAYS=30

# Mock
MOCK_MORTGAGE_USER_ID=test-user-mock
